@font-face {
  font-family: "iconfont"; /* Project id 2778440 */
  src: url('//at.alicdn.com/t/font_2778440_qzg269yfito.woff2?t=1635847841875') format('woff2'),
       url('//at.alicdn.com/t/font_2778440_qzg269yfito.woff?t=1635847841875') format('woff'),
       url('//at.alicdn.com/t/font_2778440_qzg269yfito.ttf?t=1635847841875') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-maimeng:before {
  content: "\e603";
}

.icon-diqiu:before {
  content: "\e62e";
}

.icon-kafei:before {
  content: "\e60a";
}

.icon-number-sign-full:before {
  content: "\ea7b";
}

.icon-yinlefuhao2:before {
  content: "\e6c3";
}

.icon-like__easyico:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e627";
}

.icon-24gl-folderHeart:before {
  content: "\eabf";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-shangyishou:before {
  content: "\e607";
}

.icon-xiayishou:before {
  content: "\e616";
}

.icon-personal:before {
  content: "\e63f";
}

.icon-yinyue:before {
  content: "\e680";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-bofang:before {
  content: "\e731";
}

.icon-shunxubofang:before {
  content: "\e602";
}

.icon-yinliang:before {
  content: "\e605";
}

.icon-pifu:before {
  content: "\e62b";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-yinleliebiao-:before {
  content: "\e60f";
}

.icon-geciweidianji:before {
  content: "\e727";
}

.icon-MV:before {
  content: "\e600";
}

.icon-yinle_2:before {
  content: "\e705";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-GitHub:before {
  content: "\e8c6";
}

.icon-shangyiye:before {
  content: "\e6b8";
}

.icon-xiayiye:before {
  content: "\e6ba";
}

.icon-paihangbang:before {
  content: "\e6d1";
}

.icon-sousuo:before {
  content: "\e61c";
}

.icon-ico_zanting_xuanzhong:before {
  content: "\e612";
}

.icon-gitee2:before {
  content: "\e677";
}
